@{
    ViewData["Title"] = "隐私政策";
}
<h1>@ViewData["Title"]</h1>

<p>卓越移民留学承诺保护您的个人信息与隐私。本隐私政策说明我们如何根据《新西兰隐私法2020》收集、使用、存储及保护您的数据。</p>

<h4>1. 我们收集的信息</h4>
<ul>
    <li>个人身份信息（如姓名、出生日期、护照号码）</li>
    <li>联系方式（如邮箱、电话、住址）</li>
    <li>移民历史与教育背景</li>
    <li>签证或留学申请所需的相关材料</li>
</ul>

<h4>2. 信息的使用方式</h4>
<ul>
    <li>用于评估您是否符合移民或留学的资格</li>
    <li>代表您递交签证、留学或居留申请</li>
    <li>与移民局或教育机构进行沟通</li>
    <li>在申请过程中为您提供进度更新与支持</li>
</ul>

<h4>3. 信息的披露</h4>
<p>除非法律要求或需向相关机构递交申请外，我们不会出售或向第三方分享您的个人信息。</p>

<h4>4. 数据安全</h4>
<p>您的个人资料将安全存储，仅限授权人员访问。我们采用加密、受控访问及安全存储措施保障您的信息。</p>

<h4>5. 信息访问与更正</h4>
<p>您有权访问并更正您的个人信息。如需查看或修改我们所持有的数据，请联系我们。</p>

<h4>6. 信息保存期限</h4>
<p>我们仅在实现收集目的或法律要求的期限内保留您的个人资料。</p>

<h4>7. 联系我们</h4>
<p>如您对隐私政策有任何疑问或担忧，请发送邮件至 <strong>shaun@brightfuture.co.nz</strong> 与我们联系。</p>
